/* .linear-blue {
  background: linear-gradient(90deg, #08aeea 0%, #b721ff 100%);
}

.btn-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-quick-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.linear-pinky {
  background: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);
} */
