/* You can add global styles to this file, and also import other style files */
@import url("../public/assets/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-pinky {
  background: linear-gradient(to bottom, #f74cbe, #2575fc);
}

.linear-blue {
  background: linear-gradient(to bottom, #2575fc, #140e66);
}

.menu-btn:hover,
.popup-btn:hover {
  transform: scale(1.1);
}

.btn-shadow {
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
}

